:root {
    --IRIS: #4D5AE5;
    --NAVYBLUE: #2E2F42;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
    --WHITE: #fff;
    --GREY: #2e2f42;
    --OCEAN: #404BBF;
    --LIGHTSLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --DAIRY: #FCFCFC;

}

.header {
    align-items: center;
    gap: 40px;
}

.header-container {
    background-color: var(--WHITE);
    display: flex;
    align-items: center;
}

.body {
    font-family: 'Roboto', sans-serif;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logoheader span {
    text-decoration: none;
    color: var(--IRIS);

}

.logoheader {
    text-decoration: none;
    color: var(--NAVYBLUE);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.navlink a {
    margin-block-start: 0px;
    color: var(--NAVYBLUE);
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

}

.navlink {
    list-style: none;
    margin-left: 0;
    padding-left: 76px;
    display: flex;
    gap: 40px;
}

.navlink a:hover {
    color: var(--OCEAN);
}

.navlink a:focus {
    color: var(--OCEAN);
}

.active {
    color: var(--OCEAN);

}

.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--IRIS);
    position: relative;
    top: 20px;
}

.desktop-navcontact a {
    color:var(--SLATE);
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

}

.desktop-navcontact {
    list-style: none;
    padding-left: 0px;
    margin-left: Auto;
   
}

.mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px;
}

.mobile-menu {
    display: none;
    position: relative;
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

.mobile-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-links {
    list-style-type: none;
}

.mobile-link {
    font-size: 36px;
    text-decoration: none;
    font-weight: 700;
    color: var(--NAVYBLUE);
    margin-bottom: 40px;
    display: inline-block;
}

.mobile-contact {
    color: var(--NAVYBLUE);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 48px;
}

.mobile-link.mobile-active {
    color: var(--OCEAN);
}

.mobile-link a:hover {
    color: var(--OCEAN);
}

.mobile-menu-close {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--WHITE);
}


.hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url("../images/peopleoffice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-top: 5px;
    width: 100%;
}

.h1 {
    color: var(--WHITE);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-wrap: nowrap;
    width: 100%;
}

.button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border: none;
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: var(--WHITE);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
}

/*modal style*/

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal {
    width: 408px;
    height: 584px;
    background-color: var(--DAIRY);
    border-radius: 4px;
    padding: 24px;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.modal-close-button {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--WHITE);
    width: 30px;
    height: 30px;
    color: var(--OCEAN);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close-button:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}

.modal-invitation {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
    color: var(--NAVYBLUE);
}

.modal-label {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.input-label {
    text-align: left;
    margin-bottom: 4px;
    color: var(--LIGHTSLATE);
    font-size: 12px;
}

.modal-input {
    width: 326px;
    padding: 12px 38px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    top: 51%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon  {
    fill: var(--IRIS);
}

.modal-input:hover {
    border: 1px solid var(--IRIS);
}

.input-label-textarea {
    height: 120px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}

.modal-agree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agree-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    left: 23px;
    opacity: 0;
}

.agree-checkicon {
    margin-top: 0px;
    margin-left: 0;
    fill: none;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agree .agree-checkbox:focus + .agree-checkicon,
.modal-agree .agree-checkbox:checked:focus + .agree-checkicon {
    outline: 1px solid rgba(46, 47, 66, 0.40);
}

.modal-agree .agree-checkbox:checked + .agree-checkicon {
    background-color: var(--IRIS);
    border-color: var(--IRIS);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
}

.agree-text {
    font-size: 15px;
    color: var(--LIGHTSLATE);
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 8px;

}

.modal-sendbtn {
    width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border: none;
    padding: 16px 32px;
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    margin-top: 8px;
}

.modal-sendbtn:hover {
    cursor: pointer;
}

/*End of Modal Style*/

.herolist {
    list-style: none;
    padding-left: 0;
    padding-top: 8px;
    gap: 24px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.herolist {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: var(--SLATE);
}

.icon-hero {
    border-radius: 4px;
    background: var(--CLOUD, #F4F4FD);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    margin-top: 120px;
}

.icon-herosvg {
    width: 64px;
    height: 64px;
    padding-left: 100px;
    padding-top: 24px;
}


.whatsection {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.whatlist {
    list-style: none;
    justify-content: center;
    padding-left: 0;
    gap: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.team {
    background-color: var(--CLOUD);
    width: 100%;

}

.teamsection {
    
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;

}

.teamlist {
    list-style: none;
    justify-content: center;
    gap: 24px;
    padding-top: 72px;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.teamcard {
    display: inline-flex;
    padding-bottom: 0px;
    margin-bottom: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.card-content {
    text-align: center;
    padding: 32px 0px 32px 0px;
    gap: 8px
    
}

.team-icon-social {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-bottom: 40px;
}

.icon-social {
    background: var(--IRIS);
    border-radius: 50%;
    border: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
}

.icon-social {
    fill: var(--CLOUD);
}

/*Customer style start*/

.customers {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
    color: var(--NAVYBLUE);
}

.customersection {
    background-color: var(--WHITE);
    width: 100%;
   
}

.icon-customer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 16px);
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    
}

.icon-customer {
    fill: var(--LIGHTSLATE);
}

.iconcustomer {
    border-radius: 4px;
    border: 1px solid var(--LIGHTSLATE);
    background-color: var(--WHITE);
    width: 168px;
    height: 88px;
    flex-shrink: 0;
    margin-top: 72px;
    margin-bottom: 120px;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}

.icon-customersvg {
    padding-left: 0px;
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 16px;
}

/*customer style end*/

/*Footer Style Start*/

.footer {
    background-color: var(--NAVYBLUE);
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.logofooter span {
    text-decoration: none;
    color: var(--IRIS);
}

.logofooter {
    color: var(--CLOUD);
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}


.footerqoute {
    color: var(--CLOUD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.footer-social {
    background: var(--IRIS);
    border-radius: 50%;
    padding: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;

}


.footer-social {
    fill: var(--CLOUD);
}

.footersection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.input-subscribe {
    border: 1px solid white;
    background: none;
    border-radius: 4px;
    width: -webkit-fill-available;
    height: 40px;
    margin-right: 0;
}

.input-subscribe::placeholder {
    color: white;
    padding-left: 16px;

}

.button-subscribe {
    width: 165px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    color: white;
    border: transparent;
}

.button-subscribe {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.button-subscribe {
    border-radius: 4px;
    background: var(--IRIS);
    margin-top: 24px;
}

.button-subscribe:hover {
    cursor: pointer;
}


.icon-subscribe {
    fill: var(--WHITE);
}


/* Portfolio Style  */

.btnsection {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.btnport:hover {
    border-radius: 4px;
    border: 1px solid var(--CLOUD);
    background: var(--IRIS);
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--WHITE);
    padding: 12px 24px;
}

.btnport:focus {
    border-radius: 4px;
    border: 1px solid var(--CLOUD);
    background: var(--IRIS);
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--WHITE);
    padding: 12px 24px;
}

.btnport {
    border-radius: 4px;
    border: 1px solid var(--CLOUD);
    background: var(--CLOUD)
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--IRIS);
    padding: 12px 24px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.servicesection {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.app {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);

}

.appsection li {
    width: 360px;
}

.appsection li img {
    width: 100%;
    display: block;

}

.app:hover .app-caption {
    opacity: 1;
    transform: translateY(0%);
}

.app {
    overflow: hidden;
}


.app-image {
    position: relative;
    overflow: hidden;
}

.app-caption {
    position: absolute;
    background-color: rgba(77, 90, 229, 0.8);
    color: var(--WHITE);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.app-caption p {
    padding: 40px 32px;
}

.apptext {
    padding-left: 16px;
}

/*End of Footer Style*/

/*CSS Media Query Style*/


@media (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 768px;
    }

    .app {
        flex-basis: calc(100% / 2 - 24px);
    }

    .hero-items, .teamlist {
        flex-basis: calc(100% / 2 - 24px);
    }

    .customer-items {
        flex-basis: calc(100% / 3 - 16px);
        
   }

    .input-subscribe {
         width: 264px;
        margin-right: 24px;
    }

    .mobile-navbar, .js-close-menu {
        display: none;
    }

    .icon-hero {
        display: none;
    }

    .whatwedo {
        display: none;
    }


}

@media (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .app {
        flex-basis: calc(100% / 3 - 24px);
    }

    .hero-items {
        flex-basis: calc(100% / 4 - 24px);
    }

    .customer-items {
        flex-basis: calc(100% / 6 - 16px);
    }

    .desktop-navcontact {
        display: flex;
        column-gap: 30px;
    }

    .mobile-navbar {
        display: none;
    }
}

@media (min-width: 428px) and (max-width: 767px) {
    .h1 {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
    }
   
    .footer {
        text-align: center;
    }

    .footersection {
        justify-content: center;
    }

    .whatwedo {
        display: none;
    }

    .icon-hero {
        display: none;
    }

    .hero-items h3 {
        font-size: 36px;
        margin-bottom: 8px;
        text-align: center;
    }

    .hero-items p {
        margin-top: 0px;
    }

    .teamcard {
        margin-bottom: 96px;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }

    .mobile-menu.is-open {
        top: 0;
        display: block;
        height: 100vh;
        width: 100vh;
        position: fixed;
        background-color: var(--WHITE);
        transition: transform 250ms ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .js-close-menu {
        position: absolute;
        top: 10px;
        right: 25px; 
    }

}

@media (min-width: 320px) and (max-width: 427px) {
    .footersection {
        justify-content: center;
    }

    .footer {
        text-align: center;
    }

    .hero-items h3 {
        text-align: center;
    }

    .h1 {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
    }

    .icon-hero {
        display: none;
    }

    .whatwedo {
        display: none;
    }

    .desktop-nav {
        display: none;
    }

    .customer-items {
        flex-basis: calc(100% / 2 - 16px);
    }
}